/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* imports */
/* @import url("components/avatar.css"); */
@import url("components/banner.css");
@import url("components/information.css");
@import url("components/anime.css");
@import url("components/button.css");
@import url("components/contact.css");
/* Utilities */


body {
  margin: 0;
  font-family: Open Sans;
  background-image: url('../images/background.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}


h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
